{% extends '/base.html.twig' %}
{% block body %}
   <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
        <a href="{{path('show',{'id':app.user.id})}}" class="btn btn-primary" role="button">afficherplaylist</a>
        <a href="{{path('AddPlaylist',{'id':app.user.id})}}" class="btn btn-primary" role="button">ajouterplaylist</a>
                </div>
            </div>
        </div>
   </section>





{% endblock %}
